.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    margin-top: 63px;
}


.header-link {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 60px;
    margin-bottom: 40px;
}

.color-blue {
    color: #4BCAFF;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-nav {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    margin-top: 40px;
}

.header-nav-item {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #35444F;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    height: 69px;
    line-height: 69px;
}

.header-nav-link {
    color: #FFF;
    padding: 30px;


}

.header-nav li:hover {
    background-color: rgba(34, 47, 58, 1);
}

.main {
    margin-top: 49px;
}

.main-flex {
    display: flex;

}

.aside {
    margin-right: 52px;
}

.left-menu {
    
    border: 1px solid #000;
    width: 344px;
    height: 397px;

}

.left-menu-item {

    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 79px;
    padding-left: 40px;


}

.left-menu li:hover {
    background-color: #DBDBDB;

}

.left-menu-link {
    color: #485863;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-image-wrap {
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    border: 1px solid #000;
    margin-bottom: 35px;
   

}



.main-image-wrap:hover img {
    transform: scale(1.2);
    /* transition: transform 0.9s; */



}

.main-image {
    width: 320px;
    height: 381px;
    transition: transform 0.5s;
}

.main-text {
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 885px;
    height: 141px;
}

.main-content p:last-of-type {
    margin-top: 13px;
    margin-bottom: 50px;
}

.footer {
    width: 1280px;
    margin: 0 auto;
    background-color: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
}


.footer-flex {
    display: flex;
}

.footer-menu {
    display: flex;

}

.footer-menu-item {
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 21px;
}

.footer-menu-link {
    color: #0C1927;
}

.footer-menu a:hover {
    color: #3181A6;
    border-bottom: 2px solid #3181A6;

}

.copyright {
    align-self: center;
    color: #010101;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 85px;
    margin-right: 40px;
}